<!DOCTYPE html>
<html>

<head>

    <title>Nova AI</title>

    <link rel="stylesheet" href="/static/css/home.css">

</head>

<body>

<div class="navbar">

    <div class="logo">

        <img src="/static/images/logo.svg" width="50">

        <h2>Nova AI</h2>

    </div>

    <div>

        <a href="/chatpage" class="start">
            Open Chat
        </a>

    </div>

</div>

<section class="hero">

    <h1>Your Personal AI Tutor</h1>

    <p>

        Learn faster.
        Generate quizzes.
        Chat with PDFs.
        Search the web.
        Remember everything.

    </p>

    <a href="/chatpage">

        <button>

            Start Learning →

        </button>

    </a>

</section>

<section class="cards">

<div class="card">

<h2>💬 AI Chat</h2>

<p>

Ask anything.

</p>

</div>

<div class="card">

<h2>📚 Study</h2>

<p>

Explanations made for students.

</p>

</div>

<div class="card">

<h2>📝 Quiz Generator</h2>

<p>

Create unlimited quizzes.

</p>

</div>

<div class="card">

<h2>📄 PDF Chat</h2>

<p>

Coming soon.

</p>

</div>

<div class="card">

<h2>🌍 Internet</h2>

<p>

Live information.

</p>

</div>

<div class="card">

<h2>🧠 Memory</h2>

<p>

Nova remembers you.

</p>

</div>

</section>

<script src="/static/js/home.js"></script>

</body>

</html>